<!DOCTYPE html>
<html lang="en">
<head>
    <style>*{box-sizing: border-box;}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div class="flex justify-between bg-gray-300 p-4">
       <div>MyNavbar@masai</div>
       <div class="flex justify-between w-2/5">
           <div class="text-pink-800 bg-gray-800 py-1 p-1 rounded-2xl">HOME</div>
           <div class="text-pink-800 bg-gray-800 py-1 p-1 rounded-2xl">ABOUT</div>
           <div class="text-pink-800 bg-gray-800 py-1 p-1 rounded-2xl">SERVICES</div>
           <div class="text-pink-800 bg-gray-800 py-1 p-1 rounded-2xl">LOG IN</div>
           <div class="text-pink-800 bg-gray-800 py-1 p-1 rounded-2xl">SIGN IN</div>
       </div> 
    </div>
</body>
</html>